<!-- test commit -->

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Fatih Arslan - Kişisel Sayfa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Merhaba, ben Fatih Sultan Mehmed Arslan</h1>
        <p>Yazılımla ilgileniyorum ve kendimi geliştiriyorum.</p>
        <p>İletişim: fatih1122335@gmail.com</p>
    </div>
    <h2>Sertifikalarım</h2>
<div style="display: flex; gap: 20px;">
  <img src="{{ url_for('static', filename='certificates/sql.jpg') }}" alt="SQL" width="200">
</div>

    <div class="footer">
        <p>&copy; 2025 Fatih Arslan</p>
        <p>Bu sayfa Flask ile oluşturulmuştur.</p>
        <p>Kaynak kodlar: <a href="https://github.com/fatiharslan53/tanitim_sayfam">GitHub</a></p>
    </div>
</body>
</html>
